<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/help.css">
    <link rel="icon" href="/img/yt.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap"rel="stylesheet">
    <title>Help</title>
</head>
<body>
    <header>
        <div class="title">
            <img style="width: 1.5rem;" src="/img/yt.png" alt="">
            <h1 style="font-size: 100%; cursor: default;">YT Download</h1>
        </div>
        <div class="git-screen">
            <a title="Telegram" href="https://t.me/dario_roquee" target="_blank"><img src="/img/telegram.png" style="width: 1.5rem;" alt=""></a>
            <a title="GitHub" href="https://github.com/Dario61K/YT-Download-web" target="_blank"><img src="/img/github gris.png" style="width: 1.5rem;" alt=""></a>
        </div>
    </header>


    <section>
        <h1 class="title2">How to use</h1>
        <h3><span>1- </span>Enter the YouTube URL:</h3>
        <ul>
            <li>Open Youtube</li>
            <li>Find The video you want to download and copy its URL</li>
            <li>Go back to YT Download</li>
        </ul>
        <h3><span>2- </span>Display video information:</h3>
        <ul> 
            <li>Paste the URL into the search bar.</li>
            <li>Wait a few seconds while the video information is processed. You’ll see details such as the title, thumbnail, and available quality options.</li>
        </ul>
        <h3><span>3- </span>Choose video quality (optional):</h3>
        <ul>
            <li>Some videos may offer different quality options (e.g., 360p, 720p, etc.).</li>
            <li>Select your desired quality if available. Keep in mind that not all formats may be available due to YouTube’s policies.</li>
        </ul>
        <h3><span>4- </span>Download the video:</h3>
        <ul>
            <li>Click the download button.</li>
            <li>Wait for the file to process and download to your device.</li>
            <li>The runtime may vary depending on the file size and your internet speed. Be patient!</li>
        </ul>

        <p><span>Note: </span>Make sure you have storage space on your device</p>
    </section>
   
</body>
</html>